<h2> Add a New Custom plan</h2>

<form action="/customplans" method="post">

  <label for="place-input"> Place </label>
  <input  id="place-input" type="text" name="place" placeholder="Place">
    <br>

  <label for="start-date-input"> Start date </label>
  <input  id="start-date-input" type="date" name="startDate">
    <br>
  <label for="end-date-input"> End date </label>
  <input  id="end-date-input" type="date" name="endDate">
    <br>
  <label for="topic-input"> Topic </label>
  <input  id="topic-input" type="text" name="topic" placeholder="topic">
    <br>

  <label for="description-input"> Description </label>
  <textarea id="description-input" name="description" placeholder="description"></textarea>
    <br>
  <label for="customNotes-input"> Notes </label>
  <textarea id="customNotes-input" name="customNotes" placeholder="notes go here"></textarea>
    <br>

  <button> Save Plan </button>
  
</form>
