<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <title><%= title %></title> -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <script src="https://use.fontawesome.com/364579f4ad.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>

  </head>
  <body>
    <header>
      <!-- <h1>Passport App</h1> -->
      <ul>
        <li><a href="/"> Home </a></li>
          <% if (typeof user !== "undefined"){ %>
            <% if (typeof user !== "admin"){ %>
              <li><a href="/users">Manage Users</a></li>
              <% } %>
            <li><a href="/travelplans"> Travel Plans </a></li>
            <li><a href="/customplans"> My Other Plans </a></li>

            <li><a href="/profile/edit"> Edit Profile </a></li>
            <li><a href="/logout"> Log Out </a></li>

          <% } else { %>
            <li><a href="/signup"> Sign Up </a></li>
            <li><a href="/login"> Log In </a></li>
          <% } %>
      </ul>
    </header>
    <%- body %>
    <!-- <script type="text/javascript" src="/javascripts/index.js"></script> -->

    <footer>
      <p>Made with 💙 at Ironhack.</p>
    </footer>
  </body>
</html>
